
body {
    background-color: #C9DEEE;
    color: #3D405B;
}

*{
    margin: 0;
    padding: 0;
}

h3 {
    margin: 40px 0px 20px 0px;
}

input {
    border: 1px solid #3D405B;
    padding: 4px;
    margin: 4px;
    background-color: #FAFAFA;
    text-align: center;
}


#welcome-header {
    display: inline-block;
    margin-left: 40px;
    margin-top: 40px;
    border: 1px solid #40798C;
    background-color: #FAFAFA;
    /* width: 100%; */
    padding: 10px;
    text-align: left;
}

#results-table {
    background-color: #FAFAFA;
    border: 1px solid #40798C;
    border-collapse: collapse;
    width: 60%;
    margin: 15px auto;
}

td, th {
    border: 1px solid #40798C;
    padding: 5px;
}

th {
    text-align: center;
}

tr {
    padding: 5px;
}

tr:nth-child(even) {
    background-color: #EDF6FD;
  }


.navbar {
    background-color: #FAFAFA;
    border-bottom: 2px solid #40798C;
}

.navbar-brand {
    padding-left: 20px;
    padding-right: 20px;
    border-right: 1px solid #40798C; 
}

.navbar-item {
    color: #40798C;
}

#brand-text {
    color: #3D405B;
}

#log-out-link {
    color: #3D405B;
    /* padding-left: 15px; */
    padding-right: 10px;
    /* border-left: 1px solid #40798C; */
}

.btn-primary {
    background-color : #40798C; 
    border-color: #3D405B;
    margin: 10px;
    color: #FAFAFA;
}


.back-button {
    margin: 40px;
    margin-bottom: 60px;
}

.header-row {
    height: 10em;
    width: auto;
    background-color: #FAFAFA;
    border-bottom: 2px solid #40798C;
}

.header {
    text-align: center;
}

.main-header-text {
    letter-spacing: 2px;
    font-size: 4em;
}

.user-review {
    background-color: #FAFAFA;
    border: 1px solid #40798C;
    width: 60%;
    margin: 20px auto;
}

.reviewer-name {
    margin: 10px auto;

}

.user-rating, .review-text {
    padding: 0px 20px;
}

#edit-review-btn {
    margin-bottom: 20px;
}

#display-book-header {
    background-color: #FAFAFA;
    border: 1px solid #40798C;
    display: inline-block;
    padding: 5px 20px;
}

#display-book-data {
    margin-top: 30px;
}

#display-book-review-header {
    margin-bottom: 30px;
}

#write-review-btn {
    margin: 35px 0px;
}

#review-text {
    padding: 4px;
}

#write-review-form {
    margin: 20px;
}

#rating-system-label {
    margin:10px;
}

.search-type-row {
    margin: 12px;
}

.search-type-radio {
    margin: 8px;
}


#search_text {
    width: 400px;
}

@media (max-width: 450px) {
    #search_text {
        width: 250px;
    }
}

/* ***************************** */
/* 5 star rating system */
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
    margin-left:10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

#five-star-label    {
    padding: 30px;
}

/* ***************************** */


.error-text {
    color: #B9314F;
    margin: 10px;
}
/* Modified from: https://github.com/mukulkant/Star-rating-using-pure-css */