{% extends "layout.html" %}

{% block title %}
Book Thoughts
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-sm navbar-light">
    <a href="{{url_for('index')}}" class="navbar-brand" id="brand-text">Book Thoughts</a>
    
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navMenu">
        <ul class="navbar-nav">
            <li class="nav-item">
                <span class="navbar-text">Logged in as: {{username}}</span>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="{{url_for('log_out')}}" id="log-out-link" class="log-out-link nav-link">Log Out</a>
            </li>
        </ul>
        
    </div>
    
</nav>
{% endblock %}


{% block body %}
<div class="row align-items-center justify-content-center">
    <div class="col text-center">
        <h3 id="display-book-header">{{book.title}} - by {{book.author}}</h3>
    </div>
</div>

<div class="row align-items-center justify-content-center text-center" id="display-book-data">
    <div class="col book-rating-col">
        <h6>Goodreads Rating: 
            {% if rating_data.found %}
            {{rating_data.avg}} ({{rating_data.count}} ratings)
            {% else %}
            Not Available
            {% endif %}
        </h6>
    </div>
    
    <div class="col book-year-col text-center">
        <h6>Year Published: {{book.pub_year}}</h6>
    </div>
    
    <div class="col book-isbn-col text-center">
        <h6>ISBN: {{book.isbn}}</h6>
    </div>
    
</div>


{% if not review_data or not review_data[0].by_current_user%}
<div class="text-center" id="write-review-btn">
    <a href="{{url_for('write_review', book_id=book.id)}}">
        <button class="btn btn-primary">Write a Review</button>
    </a>
</div>
{% endif %}


<div class="row align-items-center justify-content-center">
    <div class="col text-center">
        <h3 id="display-book-review-header">User Reviews</h3>
    </div>
</div>


{% if review_data %}
{% for review in review_data%}

<div class="user-review">
    
    {% if review.by_current_user %}
    <h5 class="reviewer-name text-center">Your Review:</h5>
    
    {% else %}
    <h5 class="reviewer-name text-center">Review by {{review.username}}:</h5>
    {% endif %}
    <p class="user-rating">Rating: {{review.rating}} stars</p>
    <p class="review-text">{{review.review_text}}</p>
    
    {% if review.by_current_user %}
    <div class="text-center">
        <a href="{{url_for('write_review', book_id=book.id)}}" >
            <button class="btn btn-primary" id="edit-review-btn">Edit Your Review</button>
        </a>
    </div>
    {% endif %}
</div>

{% endfor %}
{% else %}
<h5 class="text-center">
    This book has not been reviewed yet
</h5>
{% endif %}



{% if last_search %}
<div class="text-center">
    <a href="{{url_for('search', search_text=last_search.text, search_type= last_search.type)}}" >
        <button class="btn btn-primary back-button">Back to Search</button>
    </a>
</div>
{% else %}
<div class="text-center">
    <form action="{{url_for('index')}}" method="GET" class="text-center">
        <button type="submit" class="btn btn-primary back-button">Back</button>
    </form>
</div>
{% endif %}

{% endblock %}