{% extends "layout.html" %}

{% block title %}
Book Thoughts - Logged Out
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-sm navbar-light">
    <a href="{{url_for('index')}}" class="navbar-brand">Book Thoughts</a>
</nav>
{% endblock %}

{% block body %}

<div class="row justify-content-center align-items-center">
    <div class="col text-center">
        <h3>Successfully Logged Out</h3>
        
        <form action="{{url_for('index')}}" method="GET">
            <button type="submit" class="btn btn-primary back-button">Sign Back In</button>
        </form>
    </div>
</div>
{% endblock %}