{% extends "layout.html" %}

{% block title %}
    Book Thoughts
{% endblock %}

{% block body %}
    <h1>Book Thoughts</h1>

    <h3>Log In With Existing Account</h3>
    <form action="{{ url_for('index')}}" method="POST">
        <input type="text" name="username" placeholder="username" required>
        <input type="password" name="password" placeholder="password" required>
        <button type="submit" class="btn btn-primary">Log In</button>
        <span>{{message}}</span>
    </form>

    <form action="{{ url_for('create_account')}}" method="GET">
            <button type="submit" class="btn btn-primary">Create Account</button>
    </form>

{% endblock %}